:root{
	--main_color: #003b1f;
	
}

.top_text {
	text-decoration: none !important;
}

@font-face {
    font-family: 'ONE-Mobile-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
	list-style: none;
	text-decoration: none;
	border-collapse: collapse;
	margin: 0px;
	padding: 0px;
	color: #fff;
	font-family: 'ONE-Mobile-Regular';
}

.header{
	display: flex;
	width: 100%;
	margin: auto;
	height: 150px;
	background-color: #003b1f;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
}

.logo{
	width: 90px;
	height: 90px;
	margin: auto;
	margin-left: 300px;
	margin-top: 30px;
	border-radius: 10px;
}

.nav{
	display: flex;
	line-height: 86px;
	width: 700px;
	
	margin-top: 55px;
	margin-left: 120px;
	
	font-size: 23px;
	font-weight: bold;
}

.nav > li {
	width: 200px;
	height: 50px;
}

.nav > li:last-child {
	margin-left: 32px;
	color: #fff;
	text-align: center;
	cursor: pointer;
	line-height: 50px;
}

.nav > li {
	margin-left: 32px;
	color: #fff;
	text-align: center;
	cursor: pointer;
	height: 52.5px;
	border-right: 2px solid #fff;
	line-height: 50px;
}

.nav > li > a{
	width: 87px;
	height: 24px;
	font-weight: 900;
	margin-right: 32px;
	color: #fff;
}

.search_area {
	width: 30px;
	height: 30px;
	border: none;
	margin-top: 65px;
	margin-left: 190px;

}

.search_area > form {
	width: 30px;
	height: 30px;
}

.search_area > form > .open_category {
	width: 32px;
	height: 32px;
	
	cursor: pointer;
	
	border: none;
	
	background-image: url("../img/search.png");
	background-repeat: no-repeat;
	background-size: cover;
	
}

.user{
	display: flex;
	justify-content: right;
	line-height: 20px;
	width: 600px;
	font-size: 14px;
	margin-top: 15px;
	font-weight: bold;
	margin-left: 80px;
	height: 20px;
}
.user > li {
	margin-left: 20px;
	color: #fff;
	text-align: center;
	cursor: pointer;
}

.user > li > a{
	color: #fff;
}

.category{
	width: 1280px;
	height: 330px;
	
	margin: 0px 300px auto;
	
	border-bottom: 0.5px solid #000;
}