.login_area{
	width: 1280px;
	height: 700px;
	margin: 50px auto 231px auto;
	text-align: center;
}

.login_enter_area{
	width: 1280px;
	height: 700px;
	margin: 50px auto 231px auto;
	text-align: center;
	/*background-color: rgba(0, 59, 31, 0.85);*/
	background-color: #fff;
	opacity: 0.9;
	
	border-top: 0.01px solid rgba(0, 0, 0, 0.2);
	border-left: 0.01px solid rgba(0, 0, 0, 0.2);
	
	box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.5);
	border-radius: 7px;
	color: #000;
}

.login_enter_area > .switch_login_form{
	position: relative;
	
	width: 900px;
	height: 70px;
	
	text-align: center;
	margin: 10px auto;
	margin-bottom: 0px;
	
	font-family: 18px;
}

.login_enter_area > .switch_login_form > #switch_user_login{
	position: absolute;
	top: 47px;
	left: 1px;
	
	width: 445px;
	height: 70px;
	
	background-color: rgba(0, 59, 31, 0.85);
	
	font-size: 18px;
	font-weight: bold;
	color: #fff;
		
	border-right: 0.01px solid rgba(0, 0, 0, 0.2);
	border-left: 0.01px solid rgba(0, 0, 0, 0.2);
	border-top: 0.01px solid rgba(0, 0, 0, 0.2);
	border-bottom: 2px solid rgba(0, 59, 31, 0.85);

	border-top-left-radius: 10px;
	
	cursor: pointer;
}

.login_enter_area > .switch_login_form > #switch_seller_login {
	position: absolute;
	top: 47px;
	left: 455px;
	
	width: 445px;
	height: 70px;
	
	background-color: #fff;
	
	font-size: 18px;
	font-weight: bold;
	color: #000;
	
	border-right: 0.01px solid rgba(0, 0, 0, 0.2);
	border-left: 0.01px solid rgba(0, 0, 0, 0.2);
	border-top: 0.01px solid rgba(0, 0, 0, 0.2);
	border-bottom: 2px solid rgba(0, 59, 31, 0.85);

	border-top-right-radius: 10px;
	
	cursor: pointer;
}

.login_enter_area > .user_login_form{
	width: 70%;	
	height: 70%;
	
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	
	
	background-color: rgba(255, 255, 255, 1);
	border-top: 0.5px solid rgba(0, 0, 0, 0.2);
	border-left: 0.5px solid rgba(0, 0, 0, 0.2);
	
	box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.5);
	position: relative;
	
	text-align: center;
	margin: 40px auto;
	margin-top: 50px;
	display: block;
}

.login_enter_area > .user_login_form > #login_form{
	position: absolute;
	top: 30%;
	left: 10%;
	
	width: 650px;
	height: 100px;
	
}

/* 아이디 입력 칸 */
.login_enter_area > .user_login_form > #login_form > .id {
	position: relative;	
	
	display: flex;
	width: 500px;
	height: 50px;
	text-align: left;
	margin-left: 100px;

	
}

.login_enter_area > .user_login_form > #login_form > .id > label{
	position: absolute;
	left: 35px;
	top: 6px;
	
	flex: 4;
	color: #000;
	font-size: 27px;
	text-align: center;
}

.login_enter_area > .user_login_form > #login_form > .id > #user_id{
	position: absolute;
	left: 150px;
	top: 12px;
	
	flex: 6;
	width: 215px;
	height: 21px;
	padding: 2px 5px;
	
	border: solid 2px #000;

	font-size: 15px;
}

/* 비밀번호 입력 칸 */
.login_enter_area > .user_login_form > #login_form > .password {
	position: relative;	
	
	display: flex;
	width: 500px;
	height: 50px;
	text-align: left;
	margin-left: 100px;

	
}

.login_enter_area > .user_login_form > #login_form > .password > label{
	position: absolute;
	left: 5px;
	top: 6px;
	
	flex: 4;
	color: #000;
	font-size: 27px;
	text-align: center;
}

.login_enter_area > .user_login_form > #login_form > .password > #user_password{
	position: absolute;
	left: 150px;
	top: 12px;
	
	flex: 6;
	width: 215px;
	height: 21px;
	padding: 2px 5px;
	
	border: solid 2px #000;
	font-family: none !important;
	font-size: 15px;
}

.login_enter_area > .user_login_form > #login_form > #submit_login {
	position: absolute;
	left: 500px;
	top: 11px;
	
	width: 110px;
	height: 80px;
	background-color: rgba(0, 59, 31, 0.85);
	
	border: solid 0.2px  rgba(0, 59, 31, 0.85);
	
	border-radius: 8px;
	
	color: #fff;
	font-size: 24px;
	font-weight: 500;
	
	cursor: pointer;
	
}

/* 회원 가입 / 아이디 찾기 / 비밀번호 찾기 */
.user_account{
	position: absolute;
	top: 57%;
	left: 380px;
	
	display: flex;
	width: 150px;
	height: 30px;
	
	font-size: 20px;
	font-weight: bold;
	color: #000;
	
	text-align: center;
}

.user_account > li{
	margin-left: 32px;
	color: #000;
	text-align: center;
	
	cursor: pointer;
	
	line-height: 30px;
}

.user_account > li > a{
	margin-right: 32px;
	color: #000;
}
