
.SellerOrderImage {
   display: flex;
   position: absolute;
   width: 1380px;
   top: 20px;
   height: 40px;
   left: 120px;
   border-bottom: 1px solid darkgray;
}

.SellerOrderImage img {
   position: absolute;
   width: 30px;
   height: 30px;
   padding-top: 2px;
   bottom: 15px;
   left: 10px;

}

.SellerOrderImage h1 {
   position: absolute;
   margin: 0px;
   font-size: 25px;
   bottom: 15px;
   left: 50px;
}

.SellerOrderSearch {
   display: flex;
   position: absolute;
   top: 90px;
   width: 100%;
   height: 45px;
   left: 100px;
}

.SellerOrderSearch div {
   padding: 10px;
   height: 20px;
   margin-left: 20px;

}

.Calender img {
   width: 15px;
   height: 15px;
}

.OrderCountBox {
   display: flex;
   position: absolute;
   width: 1380px;
   height: 125px;
   top: 100px;
   left: 120px;
   border-bottom: 1px solid darkgray;
}

.CountBox {
   border: 1px solid rgb(131, 131, 131);
   border-radius: 4px;
   width: 200px;
   height: 90px;
   margin-left:50px;
   font-size: 15px;
}


.CountBox1 {
   border: 1px solid rgb(131, 131, 131);
   border-radius: 4px;
   width: 200px;
   height: 90px;
   font-size: 15px;
   margin-left: 80px;
}

.CountBox a {
   text-decoration: none;
   color: green;
}

.CountBox1 a {
   text-decoration: none;
   color: green;
}


.CountBoxContent {
   margin-top: 10px;
   margin-left: 5px;
}

.Count {
   margin-top: 25px;
   margin-left: 5px;
   font-size: 20px;
}

.Count2 {
   margin-top: 25px;
   margin-left: 5px;
   font-size: 20px;
}

.OrderTable{
   position: absolute;
 	width: 1340px;
   height: 20px;
   top: 250px;
   left:140px;
   border-collapse: collapse;
}

.HeaderContent th {
   border: 1px solid rgb(110, 110, 110);
   padding: 8px;
   font-size: 13px;
   text-align: center;
}

.HeaderContent td {
   border: 1px solid rgb(110, 110, 110);
   height: 15px;
   padding: 11px;
   font-size: 12px;
   text-align: center;
}

.OrderStatus{
	max-width:30px;
}

.OrderStatus input{
	max-width:30px;
}

.DeliveryCompany{
   max-width: 50px;
}

.DeliveryCompany input {
	max-width : 50px;
}

.DeliveryNumber{
   max-width: 100px;
}

.DeliveryNumber input{
   max-width: 80px;
}

.modifyButton{
   max-width: 100px;
}

.SellerName{
   max-width: 70px;
}

.buttoncolor{
	background-color: white;
}
.HeaderContent:not(:last-child) {
   border-right: none; /* 마지막 컬럼을 제외한 모든 헤더의 오른쪽 테두리 제거 */
}


.HvrBtn:hover {
   color: green;
   border: 3px solid green;
   font-weight: bold;
}

.PageButtonContainer {
   position: absolute;
   top: 710px;
   left: 680px;
}

.PageButtonContent {
   display: flex;
   margin: 0px;
   list-style-type: none;
   text-align: center;
}

.PrevPageButton {
   width: 50px;
   height: 23px;
   border-radius: 5px;
   background-color: #003b1f;
   color: white;
   margin: 2px;
}

.PrevPageDisableContent {
   pointer-events: none;
   text-decoration: none;
   color: inherit;
}

.PrevContent {
   text-decoration: none;
   color: inherit;
}

.MiddleButton {
   width: 50px;
   height: 23px;
   color: black;
   margin: 2px;
}

.MiddleButtonActiveContent {
   pointer-events: none;
   text-decoration: none;
   color: inherit;
}

.MiddleButtonContent {
   text-decoration: none;
   color: inherit;
}

.NextButton {
   width: 50px;
   height: 23px;
   border-radius: 5px;
   background-color: #003b1f;
   color: white;
   margin: 2px;
}

.NextButtonDisableContent {
   pointer-events: none;
   text-decoration: none;
   color: inherit;
}

.NextButtonContent {
   text-decoration: none;
   color: inherit;
}



