.SellerInfo {
    position: absolute;
    left: 300px;
}

.SellerInfo h1 {
	width: 1000px;
	margin-left: 30px;
	margin-bottom: 10px;
	font-size: 30px;
}

.BasicTitle {
	margin-left: 30px;
	margin-bottom: 20px;
	padding-top: 10px;
	font-weight: bold;
	opacity: 0.6;
	font-size: 13px;
	border-top: 1px solid gray;
}

.SellerInfo .BasicInfo {
	margin-bottom: 20px;
	margin-left: 30px;
}

.SellerInfo input {
	border: none;
}

.SellerTex div {
	position: absolute;
	top: 140px;
	left: 30px;
}

.BasicInfo input {
	margin-left: 30px;
}

.ShopInfo {
	border-top: 1px solid gray;
	margin-left: 30px;
	margin-bottom: 20px;
	padding-top: 10px;
	font-weight: bold;
	opacity: 0.6;
	font-size: 13px;
}

.SellerAccount {
	margin-left: 30px;
	margin-bottom: 40px;
	padding-bottom: 30px;
	border-bottom: 1px solid gray;
}

.SellerAccount input {
	margin-left: 30px;
}

.EditButton {
	position: absolute;
	width: 75px;
	height: 30px;
	left: 1000px;
    top: 650px;
}