.SellerStore {
    position: absolute;
    font-size: 30px;
    left: 300px;
    border-bottom: 2px solid rgb(109, 107, 107);
    width: 1000px;
    top: -10px;
}

.prodcutCount h1{
    position: absolute;
    left: 300px;
    top: 105px;
    font-size: 25px;
}
.SellerStore h1 {
    margin-bottom: 20px;
    color: #003b1f;
}

.productListTable{
    position: absolute;
    left: 300px;
    top: 180px;
    width: 1000px;
    border-top: 2px solid rgb(110, 110, 110);
    border-right: none;
    border-radius: 5px;
    border-collapse: collapse;
    padding: 10px;
    
}

.tableBorderMenuLast{
    border-right: none;
    text-align: center;
    padding: 10px;
    
}
th, td {
    border-bottom: 1px solid rgb(204, 204, 204);
     text-align: center;
}

.tableBorderMenu{
    border-bottom:1px solid rgb(19, 19, 19);
    text-align: center;
    padding: 10px;
}

.tableBorderTr td a{
    text-decoration: none;
    color: black; 
    left: 180px;
}

.tableBorder{
    text-align: center;
    padding: 4px;
}

.plusGoods a{
    position: absolute;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
    left: 1200px;
    font-size: 18px;
    font-weight: bolder;
    background-color: #0d5835;
    text-decoration: none;
    color: #ffffff;
    border-radius: 7px;
    top: 130px;
}